<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap.min.css}"/>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>ClinicApp menu</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
</head>
<body>
	<header>
		<nav class="navbar navbar-light bg-dark">
  			<span class="navbar-brand">
    		<img th:src="@{/images/icon.png}" id="logo" class="d-inline-block align-top">
    			<span class="text-white">SegPrivadoApp</span>
  			</span>
  			
  			<ul class="nav">
  				<li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item">
      				<a class="btn btn-dark" th:href="@{/patients/listPatients}"><i class="fas fa-notes-medical"></i> Patients</a>
      			</li>
      			<li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item">
      				<a class="btn btn-dark" th:href="@{/doctors/listDoctors}"><i class="fas fa-user-md"></i> Doctors</a>
      			</li>
      			<li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item">
      				<a class="btn btn-dark" th:href="@{/medicines/listMedicines}"><i class="fas fa-pills"></i> Medicines</a>
      			</li>
      			<li sec:authorize="hasRole('ROLE_PACIENTE')" class="nav-item">
      				<a class="btn btn-dark" th:href="@{/profile}"><i class="fas fa-user"></i> Profile update</a>
      			</li>
      			<li sec:authorize="hasRole('ROLE_VISITANTE')" class="nav-item">
      				<a class="btn btn-dark" th:href="@{/doctors/consultation}"><i class="fas fa-user-md"></i> Insurance doctors</a>
      			</li>
      			<li sec:authorize="!isAuthenticated()" class="nav-item">
      				<a class="btn btn-dark" th:href="@{/information}"><i class="fas fa-info-circle"></i> Information of employee</a>
      			</li>
      			<li sec:authorize="!isAuthenticated()" class="nav-item">
      				<a class="btn btn-dark" th:href="@{/contacts}"><i class="fas fa-users"></i> Contacts</a>
      			</li>
      			<li sec:authorize="!isAuthenticated()" class="nav-item">
      				<a class="btn btn-dark" th:href="@{/auth/login}"><i class="fas fa-sign-in-alt"></i> Login</a>
      			</li>
      			<li sec:authorize="!isAuthenticated()" class="nav-item">
      				<a class="btn btn-dark" th:href="@{/auth/register}"><i class="fas fa-user-plus"></i> Register</a>
      			</li>
      			<li sec:authorize="isAuthenticated()" class="nav-item">
        			<a class="btn btn-dark" th:href="@{/auth/login?logout}"><i class="fas fa-sign-out-alt"></i> Logout</a>
      			</li>
    		</ul>
		</nav>
	</header>
	
	<div class="panel panel-default" id="panel">
		<div class="alert alert-success text-center" th:if="${login!=null}" th:text="${login}" role="alert"></div>
	</div>
	
	<footer class="bg-secondary" id="footmenu">
		 <div class="panel panel-default text-center">
  	  		<span class="text-white"><i class="fas fa-copyright"></i> Copyright 2021. All rights reserved</span>
  	  	</div>
	</footer>
</body>
</html>