<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap.min.css}"/>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
		<script type="text/javascript" th:src="@{/webjars/bootstrap/4.5.3/js/bootstrap.min.js}"></script>
		<meta charset="utf-8">
		<title>Formulario para almacenar doctor</title>
		<link rel="stylesheet" type="text/css" th:href="@{/css/form.css}"/>
	</head>

	<body>
		<div sec:authorize="hasRole('ROLE_ADMIN')" class="container">
			<form action="#" th:action="@{/doctors/saveDoctor}" th:object="${doctor}" method="post">
			<input type="hidden" name="${_crsf.parameterName}" value="${_csrf.token}"/>
				<h2 th:text="${doctor.id != 0}? 'Edit doctor': 'Add doctor'"  class="text-center" id="form"></h2>
				<input type="hidden" th:field="*{id}" name="id" id="id"/>
				
				<div class="form-group">
					<label for="nombre">Name</label>
					<input type="text" th:field="*{nombre}" id="nombre" name="nombre" placeholder="Enter name" th:value="*{nombre}" class="form-control"/>
					<div th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">You must enter a name.</div>
				</div>
				<div class="form-group">
					<label for="descripcion">Apes</label>
					<input type="text" th:field="*{apellidos}" id="apellidos" name="apellidos" placeholder="Enter apes" th:value="*{apellidos}" class="form-control"/>
					<div th:if="${#fields.hasErrors('apellidos')}" th:errors="*{apellidos}">You must enter a apes.</div>
				</div>
				<div class="form-group">
					<label for="edad">Age</label>
					<input type="number" th:field="*{edad}" id="edad" name="edad" placeholder="Enter edad" th:value="*{edad}" class="form-control"/>
					<div th:if="${#fields.hasErrors('edad')}" th:errors="*{edad}">You must enter a age.</div>
				</div>
				<div class="form-group">
					<label for="direccion">Discharge date</label>
					<input type="text" th:field="*{fechaalta}" id="fechaalta" name="fechaalta" placeholder="Enter date" th:value="*{fechaalta}" class="form-control"/>
					<div th:if="${#fields.hasErrors('fechaalta')}" th:errors="*{fechaalta}">You must enter a date.</div>
				</div>
				<div class="form-group">
					<label for="username">Specialty</label>
					<select th:field="*{especialidad}" id="especialidad" name="especialidad" th:value="*{especialidad}" class="form-control">
						<option value="familia">Family doctor</option>
						<option value="digestivo">Digestive doctor</option>
						<option value="neurólogo">Neurologist doctor</option>
						<option value="dermatólogo">Dermatologist doctor</option>
					</select>
					<div th:if="${#fields.hasErrors('especialidad')}" th:errors="*{especialidad}">You must enter a specialty.</div>
				</div>
				<div class="form-group">
					<label for="username">Username</label>
					<input type="text" th:field="*{username}" id="username" name="username" th:value="*{username}" class="form-control"/>
					<div th:if="${#fields.hasErrors('username')}" th:errors="*{username}">You must enter a username.</div>
				</div>
				<div class="form-group">
					<label for="password">Password</label>
					<input type="password" th:field="*{password}" id="password" name="password" th:value="*{password}" class="form-control"/>
					<div th:if="${#fields.hasErrors('password')}" th:errors="*{password}">You must enter a password.</div>
				</div>
				
				<a href="#" th:href="@{/doctors/listDoctors}" class="btn btn-secondary"><i class="fas fa-angle-left"></i> Cancel</a>
				<button type="submit" class="btn btn-info"><i class="fas fa-pencil-alt"></i>Save</button>
			</form>
		</div>
	</body>
</html>